<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reconocimiento Facial</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap-4.3.1.css" rel="stylesheet">
     <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-4.3.1.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

     <script>

function processFiles(files) {
var file = files[0];

var reader = new FileReader();

reader.onload = function (e) {
// Cuando éste evento se dispara, los datos están ya disponibles.
// Se trata de copiarlos a una área <div> en la página.
var output = document.getElementById("fileOutput");
fileOutput.style.backgroundImage = "url('" + e.target.result + "')";
};
reader.readAsDataURL(file);
}

</script>

  </head>
  <body>
    <div class="jumbotron jumbotron-fluid text-center" id="myFondo">

       <h1 class=" black-text font-bold">Reconocimiento Facial con Deep Learning</h1>
       <br><br>
       <h4 class="black-text font-bold">Redes Neuronales Convolucionales para Reconocimiento Facial </h4>
       <hr class="my-4">

       <br><br>
          <br><br>
          <br><br>

       <form action="/uploader" method=post enctype="multipart/form-data">
     <input type=file name=file>
     <input type=submit value=Upload>
    </form>
  <br><br>
          <br><br>
          <br><br>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}" ></script>

    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="{{url_for('static', filename='js/popper.min.js')}}" ></script>
    <script src="{{url_for('static', filename='js/bootstrap-4.3.1.js')}}" ></script>
  </body>
</html>
